.profile-main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-sub-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 10px;
}
.search-input-cont1 {
  display: flex;
}
.search-icon1 {
  width: 10px;
  height: 10px;
}
.profile-image {
  width: 40px;
  height: 40px;
}
.profile-name {
  font-size: 20px;
  color: blue;
}
.role {
  font-size: 10px;
  color: black;
}
.profile-main-fail-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
}
.retry {
  font-size: 20px;
  color: blue;
}

@media screen and (min-width: 768px) {
  .search-input-cont1 {
    display: none;
  }
}
