.not-found-cont {
  background-color: #272727;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  width: 50%;
  height: auto;
}

.not-found-head {
  font-size: 20px;
  color: #ffffff;
}
.not-found-text {
  font-size: 10px;
  color: antiquewhite;
}
