.jobs-main-cont {
  display: flex;
  flex-direction: column;
}
.jobs-sub-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: black;
  padding: 0px;
}
.jobs-left-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.jobs-right-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.search-input-cont2 {
  display: none;
  width: 50%;
}
.search-results-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.jobs-failure-main-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-top: 30px;
}
.jobs-failure-image {
  width: 50%;
  height: auto;
}
.jobs-failure-head {
  font-size: 20px;
  color: #ffffff;
}
.jobs-failure-para {
  font-size: 5px;
  color: aliceblue;
}
.jobs-failure-retry-button {
  font-size: 20px;
  background-color: blue;
  width: 100px;
  color: #ffffff;
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-size: 15px;
}
.jobs-input-cont1 {
  display: flex;
}
.search-input-cont1 {
  display: flex;
  height: 20px;
}
.search-input1 {
  width: 100%;
  border: none;
  color: #ffffff;
  background-color: transparent;
}
.search-icon1 {
  height: 100%;
  background-color: lightslategrey;
}
@media screen and (min-width: 768px) {
  .jobs-sub-cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
  }
  .jobs-left-cont {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .jobs-right-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    width: 70%;
  }
  .search-input-cont2 {
    display: flex;
    width: 50%;
    height: 20px;
    align-self: flex-start;
    border: 1px solid lightblue;
    outline: none;
    border-radius: 3px;
  }
  .search-input2 {
    width: 100%;
    border: none;
    color: #ffffff;
    background-color: transparent;
  }
  .search-icon2 {
    height: 100%;
    background-color: lightslategrey;
  }
  .search-input-cont1 {
    display: none;
  }
}
