.login-main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}
.login-sub-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #64748b;
  border-radius: 5px;
}

.login-logo {
  width: 25px;
  height: 25px;
}
.form-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}
.username {
  font-size: 10px;
  color: #ffffff;
}
.password {
  font-size: 10px;
  color: #ffffff;
}
.login-button {
  background-color: #4f46e5;
  color: #ffffff;
}
